@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom scrollbar styling */
::-webkit-scrollbar {
  display: none;
}

/* Global styles */
html {
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
